$primaryColor: #ce93d8;
$primaryColor50: #f3e5f5;
$primaryColor100: #e1bee7;
$primaryColor300: #ba68c8 ;
$primaryColor400: #ab47bc;
$primaryColor500: #9c27b0;
$primaryColor600: #8e24aa;
$primaryColor700: #7b1fa2;
$primaryColor800: #6a1b9a;
$primaryColor900: #4a148c;
$secondaryColor: #fff59d;
$secondaryColor50: #fffde7;
$secondaryColor100: #fff9c4;
$secondaryColor300: #fff176;
$secondaryColor400: #ffee58;
$secondaryColor500: #ffeb3b;
$secondaryColor600: #fdd835;
$secondaryColor700: #fbc02d;
$secondaryColor800: #f9a825;
$secondaryColor900: #f57f17;
$thirdColor: #a5d6a7;
$thirdColor50: #e8f5e9;
$thirdColor100: #c8e6c9;
$thirdColor300: #81c784;
$thirdColor400: #66bb6a;
$thirdColor500: #4caf50;
$thirdColor600: #43a047;
$thirdColor700: #388e3c;
$thirdColor800: #2e7d32;
$thirdColor900: #1b5e20;
$backgroundColor: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
$onPrimaryColor: #000000;
$onSecondaryColor: #000000;
$contactBackgroundColor: #757575;